<div class="row page-title clearfix">
	<div class="page-title-left">
		<h6 class="page-title-heading mr-0 mr-r-5">Form Overview</h6>
	</div>
</div>
<div class="widget-holder widget-sm widget-border-radius col-md-12">
	<div class="widget-bg">
		<div class="widget-heading bg-purple">
			<span class="widget-title my-0 color-white fs-12 fw-600">Product List</span>
			<i class="widget-heading-icon feather feather-box"></i>
		</div>
		<div class="widget-body">
			<div class="table-responsive">
				<table class="table table-bordered" style="text-align: center;">
					<thead>
						<tr>
							<th data-field="name" style="" tabindex="0">
								<div class="th-inner" style="text-align: center;">
									No.
								</div>
								<div class="fht-cell"></div>
							</th>
							<th data-field="name" style="" tabindex="0">
								<div class="th-inner" style="text-align: center;">
									Name
								</div>
								<div class="fht-cell"></div>
							</th>
							<th style="" tabindex="0">
								<div class="th-inner" style="text-align: center;">
									Type
								</div>
								<div class="fht-cell"></div>
							</th>
							<th style="" tabindex="0">
								<div class="th-inner" style="text-align: center;">
									URL
								</div>
								<div class="fht-cell"></div>
							</th>
							<th style="" tabindex="0">
								<div class="th-inner" style="text-align: center;">
									Action
								</div>
								<div class="fht-cell"></div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tbody>
							<% @forms.each_with_index do |form, key| %>
								<tr>
									<td>
										<%= key + 1 %>
									</td>
									<td>
										<%= form.title %>
									</td>
									<td>
										<% if form.type == 'product' %>
											<span class="badge bg-success-contrast color-success px-3"><%= form.type %></span>
										<% else %>
											<span class="badge bg-primary-contrast color-primary px-3"><%= form.type %></span>
										<% end %>
										</td>
									<td><a href="<%= form.url %>"><%= form.url %></a></td>
									<td>
										<button class="btn btn-xs btn-outline-primary ripple">Update</button>
										<button class="btn btn-xs btn-outline-danger ripple">Delete</button>
									</td>
								</tr>
								<% end %>
									<tr class="no-records-found">
										<td colspan="9">
											<%= page_entries_info @forms %>
										</td>
									</tr>
						</tbody>
					</tbody>
				</table>


			</div>

		</div>
	</div>
</div>