<!DOCTYPE html>
<html>
  <head>
    <title>FastTrade</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= javascript_pack_tag 'flaner-bundle' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7CRoboto:300,400" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script data-pace-options='{ "ajax": false }' src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  </head>

 <body class="header-dark sidebar-light sidebar-expand">
    <div id="wrapper" class="wrapper">
        <!-- HEADER & TOP NAVIGATION -->
        <nav class="navbar">
            <!-- Logo Area -->
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <p style="color:black">FastTrade</p>
                </a>
            </div>
            <!-- /.navbar-header -->
            <!-- Left Menu & Sidebar Toggle -->
            <ul class="nav navbar-nav">
                <li class="sidebar-toggle"><a href="javascript:void(0)" class="ripple"><i class="feather feather-menu list-icon fs-20"></i></a>
                </li>
            </ul>
            <!-- /.navbar-left -->
            <div class="spacer"></div>
            <!-- Button: Create New -->
            <div class="btn-list dropdown d-none d-md-flex mr-4"><a href="javascript:void(0);" class="btn btn-primary dropdown-toggle ripple" data-toggle="dropdown"><i class="feather feather-plus list-icon"></i> Create New</a>
            </div>
            <!-- /.btn-list -->
    </nav>
    <!-- /.navbar -->
    <div class="content-wrapper">
        <!-- SIDEBAR -->
        <aside class="site-sidebar scrollbar-enabled" data-suppress-scroll-x="true">
            <!-- User Details -->
            <div class="side-user">
                <div class="col-sm-12 text-center p-0 clearfix">
                    <div class="lh-14 mr-t-5"><a href="page-profile.html" class="hide-menu mt-3 mb-0 side-user-heading fw-500"><%= @user.name %></a>
                        <br><small class="hide-menu">Chevrons Sdn Bhd</small>
                    </div>
                </div>
                <!-- /.col-sm-12 -->
            </div>
            <!-- /.side-user -->
            <!-- Sidebar Menu -->
            <nav class="sidebar-nav">
                <ul class="nav in side-menu">
                	<li class="active"><%= link_to raw('<i class="list-icon feather feather-command"></i> Dashboard'), user_root_path %></li> 
                    <li class="menu-item-has-children"><a href="javascript:void(0);"><i class="list-icon feather feather-briefcase"></i> <span class="hide-menu">Product</span></a>
                        <ul class="list-unstyled sub-menu">
                        <li><%= link_to raw('Create New'), user_root_path %></li>
                        <li><%= link_to raw('Product Overview'), user_root_path %></li>
                        </ul>
                    </li>
 					<li class="menu-item-has-children"><a href="javascript:void(0);"><i class="list-icon feather feather-file"></i> <span class="hide-menu">Form</span></a>
                        <ul class="list-unstyled sub-menu">
                        	<li class="menu-item-has-children"><a href="javascript:void(0);"> <span class="hide-menu">Create new</span></a>
	                        <ul class="list-unstyled sub-menu">
		                        <li><%= link_to raw('Product Form'), form_new_path %></li>
		                        <li>Event Form (Coming Soon)</li>
		                        <li>Evaluation Form (Coming Soon)</li>
	                        </ul>
	                        <li><%= link_to raw('Form Overview'), user_root_path %></li>
                        </ul>
                    </li>
                     <li class="menu-item-has-children"><a href="javascript:void(0);"><i class="list-icon feather feather-user"></i> <span class="hide-menu">Customer</span></a>
                        <ul class="list-unstyled sub-menu">
                        <li><%= link_to raw('CRM'), user_root_path %></li>
                        <li><%= link_to raw('Autoresponder'), user_root_path %></li>
                        </ul>
                    </li>
                    <li><%= link_to raw('<i class="material-icons list-icon">compare_arrows</i> Transaction'), user_root_path %></li> 
                    <li><%= link_to raw('<i class="material-icons list-icon">settings</i> Settings'), user_root_path %></li>

                </ul>
                <!-- /.side-menu -->
                <center>
                <%= link_to raw('<button class="btn btn-block btn-outline-primary ripple"><i class="material-icons list-icon">power_settings_new
</i> Logout</button>'), users_sign_out_path, :method => :delete%>
	
			
			</center>
            </nav>
            <!-- /.sidebar-nav -->
        </aside>
        <!-- /.site-sidebar -->
        <main class="main-wrapper clearfix">
            <%= yield %>
        </main>
        <!-- /.main-wrappper -->
    </div>
    <!-- /.content-wrapper -->
    <!-- FOOTER -->
    <footer class="footer"><span class="heading-font-family">Copyright @ 2017. All rights reserved FastTrade.my</span>
    </footer>
    </div>
</body>
</html>
